
.fixedresize {
	max-width: 100%;
	height: auto;
	width: auto\9;
}

.flexnavi {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: black;
    justify-content: space-around;
}

.flex-item {
    background-color: black;
	margin: auto;
}


.item1 {
    width: 450px;
    height: 225px;
	flex-shrink: 2;
}

.item2 {
	width: 450px;
	height: 225px;
}

body {
  background-color: black;
  font-size: 14px;
  color: purple;
  font-family: "Times New Roman";
  line-height: 0px;
}

h1 {
  color: red;
  font-family: helvetica;
  font-size: 30px;
    font-size: 1.5vw;
  line-height: 0px;
  text-align: center;
  
}

h4 {
  line-height: 0px;
  font-size: 20px;  
  text-align: center;
 }

a:link {
    text-decoration: none;
	color: white;
}

a:visited {
    text-decoration: none;
	color: white;
}

a:hover {
    color: red;
}

a:active {
    text-decoration: none;
	color: red;
}